.board{
    display: inline-grid;
    width: 250px;
    height: 250px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 20px 0;
    grid-gap: 10px 10px;
}

.game-instructions{
    font-size: 0.6em;
}

.currentPlayer{

}